/*Menu Viagens*/
.box {
  position: absolute;
  top: 220px;
  width: 100%;
  height: 10px;
  padding: 20px;
  background: #FFF;
  box-sizing: border-box;
  text-align: center;
}

.box2 {
  position: absolute;
  top: 260px;
  width: 100%;
  height: 200px;
  background: #67B0D4;
  padding-top: 0;
}

/*Informacoes*/
.boxbackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  padding-top: 0;
  border-radius: 20px;
  background: url(Img/Autocarro\ background.png)#67B0D450 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

/*Definições*/
.boxdefinicoesback {
  background: #017CB7;
}

.boxdefinicoes {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.60);
  box-sizing: border-box;
  text-align: center;
}

.boxdefinicoesG {
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(217, 217, 217, 0.15);
  box-sizing: border-box;
  text-align: center;
}

.boxdefinicoesA {
  position: absolute;
  top: calc(50px + 100px + 0px);
  right: 0;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(217, 217, 217, 0.15);
  box-sizing: border-box;
  text-align: center;
}

.boxdefinicoesA1 {
  position: absolute;
  top: calc(150px + 100px + 0px);
  right: 0;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(217, 217, 217, 0.15);
  box-sizing: border-box;
  text-align: center;
}

.boxdefinicoesA2 {
  position: absolute;
  top: calc(250px + 100px + 0px);
  right: 0;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(217, 217, 217, 0.15);
  box-sizing: border-box;
  text-align: center;
}

.boxdefinicoescerca {
  position: absolute;
  top: calc(350px + 100px + 0px);
  right: 0;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(217, 217, 217, 0.15);
  box-sizing: border-box;
  text-align: center;
}

.boxdefinicoest {
  position: absolute;
  top: calc(450px + 100px + 0px);
  right: 0;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(217, 217, 217, 0.15);
  box-sizing: border-box;
  text-align: center;
}

.boxdefinicoesv {
  position: absolute;
  top: calc(550px + 100px + 0px);
  right: 0;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(217, 217, 217, 0.15);
  box-sizing: border-box;
  text-align: center;
}

/*errologin caixa*/
.boxcaixavermelha {
  width: 370px;
  height: 35px;
  border: 1px solid #F00;
  background: rgba(255, 0, 0, 0.20);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.boxcaixaverde {
  width: 370px;
  height: 35px;
  border: 1px solid #008124;
  background: rgba(0, 129, 36, 0.20);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

/*Registo
.boxRegisto{
  margin-top: 75px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-color:   white; 
}*/

.boxRegisto {
  margin-top: 75px;
  width: 450px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-color: white;
}

.boxRegisto h2 {
  margin: 0 0 15px;
  padding: 0;
  color: black;
  text-align: center;
}

.boxRegisto .inputBox {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.boxRegisto .inputBox input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: black;
  letter-spacing: 2px;
  border: none;
  outline: none;
  background-color: transparent;
}

.boxRegisto .inputBox label {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 16px;
  color: black;
  transition: .1s;
  pointer-events: none;
  background-color: white;
  padding: 0 5px;
}

.boxRegisto .inputBox input:focus~label,
.boxRegisto .inputBox input:valid~label {
  top: -18px;
  left: 15px;
  background-color: white;
  padding: 0 5px;
  color: black;
}

/*Menu lateral*/
.box1 {
  top: -50px;
  width: 250px;
  height: 97px;
  position: relative;
  background: #163E64;
  background-image: url(Img/autocarrobranco.png);
  background-position: 20px center;
  background-repeat: no-repeat;
}

.box1::after {
  content: "As Minhas Viagens";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.box2 {
  top: -60px;
  width: 250px;
  height: 97px;
  position: relative;
  background: #163E64;
  background-image: url(Img/rotapequena.png);
  background-position: 20px center;
  background-repeat: no-repeat;
}

.box2::after {
  content: "Horários e Percursos";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.box3 {
  top: -70px;
  width: 250px;
  height: 97px;
  position: relative;
  background: #163E64;
  background-image: url(Img/Moedasmenu.png);
  background-position: 20px center;
  background-repeat: no-repeat;
}

.box3::after {
  content: "Consultar Pontos";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.box4 {
  top: -80px;
  width: 250px;
  height: 97px;
  position: relative;
  background: #163E64;
  background-image: url(Img/qr-code.png);
  background-position: 20px center;
  background-repeat: no-repeat;
}

.box4::after {
  content: "Ativar Pontos";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.box5 {
  top: -90px;
  width: 250px;
  height: 97px;
  position: relative;
  background: #163E64;
  background-image: url(Img/Premiopequenopng.png);
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 35%;
}

.box5::after {
  content: "Prémios";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.box6 {
  top: -100px;
  width: 250px;
  height: 97px;
  position: relative;
  background: #163E64;
  background-image: url(Img/contapq.png);
  background-position: 10px center;
  background-repeat: no-repeat;
}

.box6::after {
  content: "Área De Cliente";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box7 {
  top:-120px;
  width: 250px;
  height: 97px;
  position: relative;
  background: #163E64;
  background-image: url(Img/Casa.png); 
  background-position: 20px center;
  background-repeat: no-repeat;
}
.box7::after {
  content: "Menu Inicial";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
/*Informações*/
.boxcomercial {
  position: absolute;
  top: 42.5%;
  width: 1362px;
  height: 462px;
  flex-shrink: 0;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #f0f0f0;
  border: 3px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/*Menu Apoio */
.boxr {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 65%;
  height: 65%;
  flex-shrink: 0;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #017CB7;
  border: 3px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/*Letras Apoio*/
.lapoio {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/*Horário e Percurso */
.boxescreverpesquisa {
  position: relative;
  left: -10%;
  color: white;
  width: 1127px;
  height: 71px;
  flex-shrink: 0;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}

.boxescreverpesquisa:focus {
  border-color: #007bff;
}

.BoxH1 {
  position: absolute;
  top: 80%;
  left: 4%;
  width: 1360px;
  height: 152px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
}

.BoxH2 {
  position: absolute;
  top: calc(80% + 152px + 22px);
  left: 4%;
  width: 1360px;
  height: 152px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
}

.BoxH3 {
  position: absolute;
  top: calc(80% + 152px + 22px + 152px + 22px);
  left: 4%;
  width: 1360px;
  height: 152px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
}

/*Menu Consultar pontos*/
/*Total de Pontos*/
.boxconsultarpontos {
  position: relative;
  top: 250px;
  width: 1362px;
  height: 429px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
}

/*Menu Premios*/
/*Escolherpremio*/
.boxescolherpre1 {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 1360px;
  height: 152px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxescolherpre2 {
  position: absolute;
  top: 75%;
  left: 4%;
  width: 1360px;
  height: 152px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxescolherpre3 {
  position: absolute;
  top: 100%;
  left: 4%;
  width: 1360px;
  height: 152px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxRegisto2d {
  margin-top: 1%; 
  width: 450px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-color: white;
}
/*Box Area Cliente */
.boxcomercial1 {
  position: absolute;
  top: 42.5%;
  width: 1362px;
  height: 462px;
  flex-shrink: 0;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: white;
  border: 3px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
/*Erro ao criar conta*/
.rectangle-div {
  width: 120%; /* Aumenta a largura em 15% */
  position: relative;
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid #ff0000;
  box-sizing: border-box;
  margin-left: -8.5%; /* Ajuste para corrigir o deslocamento para a esquerda */
  margin-right: auto; /* Centraliza horizontalmente */
}
.rectangle-div3 {
  width: 370px;
  height: 35px;
  border: 1px solid #F00;
  background: rgba(255, 0, 0, 0.20);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}
.texto {
  display: inline-block;
  vertical-align: middle;
  margin-left: -5%; /* Ajuste para corrigir o deslocamento para a direita */
}

/*As minhas Viagens*/
.inputdados{
  position: relative;
  top: -20%;
  right: 25%;
  margin-right:7%;
  margin-bottom: 5px; /* Espaço entre cada caixa de entrada */
  overflow: hidden; /* Para garantir que as bordas arredondadas sejam aplicadas corretamente */
  width: 200px;
  display: inline-block;
}
.inputdados label {
  display: block; /* Para que o label ocupe uma linha inteira */
  font-weight: bold; /* Para tornar o texto do label em negrito */
  padding: 5px 0; /* Espaçamento interno dentro do label (vertical) */
}
.inputdados input {
  width: calc(100% - 10px); /* Para que o input ocupe toda a largura da caixa, descontando o espaço para a borda */
  padding: 5px; /* Espaçamento interno dentro do input */
  box-sizing: border-box; /* Incluir preenchimento e borda no tamanho total */
  border: none; /* Removendo a borda padrão */
  outline: none; /* Removendo o contorno ao receber foco */
  display: block; /* Garantir que o input fique abaixo do label */
}

.inputdados1 {
  position: relative;
  top: 0%;
  right:47%;
  margin-top: 10px; 
  overflow: hidden; /* Para garantir que as bordas arredondadas sejam aplicadas corretamente */
  width: 200px;
  display: inline-block;
}

.inputdados1 label {
  display: block; /* Para que o label ocupe uma linha inteira */
  font-weight: bold; /* Para tornar o texto do label em negrito */
  padding: 2px 0; /* Espaçamento interno dentro do label (vertical) */
}
.inputdados1 input {
  width: calc(100% - 10px); /* Para que o input ocupe toda a largura da caixa, descontando o espaço para a borda */
  padding:5px; /* Espaçamento interno dentro do input */
  box-sizing: border-box; /* Incluir preenchimento e borda no tamanho total */
  border: none; /* Removendo a borda padrão */
  outline: none; /* Removendo o contorno ao receber foco */
  display: block; /* Garantir que o input fique abaixo do label */
}
/*Comprar viagens2*/
.boxcomercial2{
  position: absolute;
  top: 42.5%;
  width: 1362px;
  height: 550px;
  flex-shrink: 0;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #BFBFBF;
  border: 3px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.boxcomercial3 {
  position: absolute;
  width: 1200px; 
  height: 430px;
  background-color: #FFF;
  border: 3px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  left:50%;
  bottom:-35%;
  transform: translate(-50%, -50%);
}
.inputboxv1 {
  display: block;
  margin-top: 10px;
  margin-right: 7%;
  margin-bottom: 5px;
  overflow: hidden;
  position: absolute;
  left: 5%;
  top: 10%;
  width: 200px;
}
.inputboxv1 label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
  text-align: left;
}
.inputboxv1 input {
  box-sizing: border-box;
  background-color: #d9d9d9; 
  display: block;
  outline: none;
  border-radius: 20px;
  padding: 5px;
  width: calc(100% - 10px);
  border: none;
}

.inputboxv2 {
  display: block;
  margin-top: 10px;
  margin-right: 7%;
  margin-bottom: 5px;
  overflow: hidden;
  position: absolute;
  left: 5%;
  top: 25%;
  width: 200px;
}
.inputboxv2 label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
  text-align: left;
}
.inputboxv2 input {
  box-sizing: border-box;
  background-color: #d9d9d9; 
  display: block;
  outline: none;
  border-radius: 20px;
  padding: 5px;
  width: calc(100% - 10px);
  border: none;
}
.inputboxv3 {
  display: block;
  margin-top: 10px;
  margin-right: 7%;
  margin-bottom: 5px;
  overflow: hidden;
  position: absolute;
  left: 5%;
  top: 40%;
  width: 200px;
}
.inputboxv3 label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
  text-align: left;
}
.inputboxv3 input {
  box-sizing: border-box;
  background-color: #d9d9d9; 
  display: block;
  outline: none;
  border-radius: 20px;
  padding: 5px;
  width: calc(100% - 10px);
  border: none;
}

/*Menu editar*/

.inputboxv1a ,.inputboxv2a, .inputboxv3a, .inputboxv4a,.inputboxv5a,.inputboxv6a {
  display: block;
  margin-right: 7%;
  overflow: hidden;
  position: relative; 
  width: 100%;
}

.inputboxv1a label,.inputboxv2a label, .inputboxv3a label, .inputboxv4a label, .inputboxv5a label, .inputboxv6a label   {
  display: block;
  font-weight: bold;
  padding: 0;
  margin-bottom: -4%; 
  text-align: left;
}

.inputboxv1a input ,.inputboxv2a input, .inputboxv3a input, .inputboxv4a input,.inputboxv5a input,.inputboxv6a input{
  box-sizing: border-box;
  background-color: #d9d9d9;
  display: block;
  outline: none;
  border-radius: 20px;
  padding: 5px;
  width: calc(100% - 10px);
  border: none;
}

/*Menu Administrador*/
.box1a {
  top: -50px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/Contas.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.box1a::after {
  content: "Contas";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.box2a {
  top: -60px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/contapq.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.box2a::after {
  content: "Perfil";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

/*Coordenador*/
.box1c {
  top: -50px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/contapq.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.box1c::after {
  content: "Perfil";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box2c {
  top: -60px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/Premiopequenopng.png);
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 60px auto;
}


.box2c::after {
  content: "Prémios";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box3c {
  top: -70px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/promopq.png);
  background-position: -20px center; 
  background-repeat: no-repeat;
}
.box3c::after {
  content: "Promoções";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal; 
  font-weight: 600;
  line-height: normal;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box4c {
  top: -80px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/moedasper.png);
  background-position: 15px center; 
  background-repeat: no-repeat;
}

.box4c::after {
  content: "Códigos de Desconto";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box5c {
  top: -90px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/Parceiros.png);
  background-position: -10px center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.box5c::after {
  content: "Parceiros";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box1m {
  top: -50px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/contapq.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.box1m::after {
  content: "Perfil";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box2m {
  top: -60px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/qr-code.png);
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 60px auto; /* Ajuste o valor '80px' conforme necessário */
}


.box2m::after {
  content: "QR CODE";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box1g {
  top: -50px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/contapq.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.box1g::after {
  content: "Perfil";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box2g {
  top: -60px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/autocarrobranco.png);
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 60px auto;
}


.box2g::after {
  content: "Frota";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box3g {
  top: -70px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/tempo.png);
  background-position: -20px center; 
  background-repeat: no-repeat;
}
.box3g::after {
  content: "Anúncios de Atraso";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal; 
  font-weight: 600;
  line-height: normal;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box4g {
  top: -80px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/rotapq.png);
  background-position: -15px center; 
  background-repeat: no-repeat;
}

.box4g::after {
  content: "Anúncios de Alteração  de Rota";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box5g {
  top: -90px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/rotapequena.png);
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 25%;
}

.box5g::after {
  content: "Percursos";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.box6g {
  top: -100px;
  width: 250px;
  height: 97px;
  position: relative;
  border-bottom: 1px solid #FFF;
  background: #163E64;
  background-image: url(Img/horario.png);
  background-position: -20px center;
  background-repeat: no-repeat;
}

.box6g::after {
  content: "Horários";
  position: absolute;
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
/*Página WEB*/

@media screen and (max-width: 768px) {
  .flex-item {
    width: calc(50% - 20px);
  }
}


@media screen and (max-width: 480px) {
  .flex-item {
    width: calc(100% - 20px);
  }
}


.flex-item {

  width: calc(33.33% - 20px);
}