.botao {
  display: flex;
  width: 175px;
  height: 70px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 0;
  margin-left: 10%;
  border-radius: 10px;
  background: #0D5785;
  padding: 7px;
  text-decoration: none;
  margin: 10px;
}

.botao:hover {
  border-radius: 20px;
  background: white;
  color: #0D5785;
}

/*Botao*/
.botao2 {
  background-color: #017CB7;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: black;
}

.botao2.botao {
  border-radius: 20px;
  background: white;
  color: #0D5785;
}

/*Botao proximo*/
.botao-proximo {
  width: 40%;
  left: 30%;
  margin: 10px auto;
  background-color: #0D5785;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 25px;
  position: relative;
}
/*Botão para menu lateral pequeno */
.botao-definicoesp {
  position: fixed;
  bottom: 0;
  left: 190px;
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
  background-image: url('Img/Definições.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.botao-definicoesp:hover {
  box-shadow: none;
}
.botao-ajudap {
  position: fixed;
  bottom: 0;
  left: 130px;
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
  background-image: url('Img/Informações.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Centralizando a imagem */
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.botao-ajudap:hoverl {
  box-shadow: none;
}

.botao-proximo1 {
  display: block;
  width: 40%;
  margin: 10px auto;
  background-color: #0D5785;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
}


.botao-proximo::after {
  content: "";
  background-image: url(Img/Proximo.png);
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: right center;
  margin-top: 10px;
  margin-left: 10px;
  width: 10px;
  height: 10px;
}


.botao-proximo:hover {
  border-radius: 10px;
  background: white;
  color: #0D5785;
}

/*Esquecer palavra passe*/
.botao-esquecer {
  display: inline-block;
  /* Alterado para exibir em linha */
  background-color: #ffffff;
  color: black;
  padding: 10px 20px;
  text-decoration: underline;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
  border: 2px solid transparent;
  transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
  order: 1;
}

.botao-esquecer:hover {
  border-radius: 20px;
  background: white;
  color: #0D5785;
  border-color: #0D5785;
}

.botao-voltar {
  position: static;
  width: 12%;
  top: 0%;
  left: 10%;
  transform: translateX(-50%);
  margin: 0 auto;
  /* Centraliza horizontalmente */
  background-color: #ffffff;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
  bottom: 385px;

}

.botao-voltar:hover {
  border-radius: 20px;
  background: white;
  color: #0D5785;
}
.botao-voltar1 {
  position: absolute;
  bottom: 1.5%;
  left: 37%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  cursor: pointer;
  text-decoration: none;
}

.botao-voltar1:hover {
  background-color: #BFBFBF;
}

/*Utilizador Menu */
.botao-definicoes {
  position: fixed;
  bottom: 0;
  left: 80px;
  width: 80px;
  height: 80px;
  border-radius: 70px;
  background-image: url('Img/Definições.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.botao-definicoes:hover {
  box-shadow: none;
}

.botao-ajuda {
  position: fixed;
  /* Alterado para fixed para garantir que o botão permaneça no canto inferior esquerdo da tela mesmo quando a página é rolada */
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 70px;
  background-image: url('Img/Informações.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.botao-ajuda:hover {
  box-shadow: none;
}

.botao-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 70px;
  background-image: url('Img/3pontos.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.botao-menu:hover {
  box-shadow: none;
}

.botao-comercial {
  top: 50%;
  left: 15%;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  border-radius: 20px;
  position: absolute;
}

.botao-comercial:hover {
  background-color: #017CB7;
}

.botao-transporte {
  top: 50%;
  left: 25%;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 20px;
  position: absolute;
}

.botao-transporte:hover {
  background-color: #017CB7;
}

.botao-estacionamento {
  top: 50%;
  left: 50%;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 20px;
  position: absolute;
}

.botao-estacionamento:hover {
  background-color: #017CB7;
}

.botao-outros {
  top: 50%;
  left: 75%;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 20px;
  position: absolute;
}

.botao-outros:hover {
  background-color: #017CB7;
}

/*Botao Definições*/
/*Botao voltar*/
.botao-volar2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 70px;
  background-image: url(Img/setaesquerda.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
}

/*Botao switch */
/*Botao A */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
}

#chk {
  position: absolute;
  left: 5px;
  display: none;
}

.switch {
  position: relative;
  background-color: #777;
  top: calc(5% + 5px);
  left: 90%;
  width: 88px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.slider {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#chk:checked~.switch {
  background-color: blueviolet;
}

#chk:checked~.switch .slider {
  transform: translateX(40px);
}

/*Botao L*/

#chk1 {
  position: absolute;
  left: 5px;
  display: none;
}

.switch1 {
  position: relative;
  background-color: #777;
  top: calc(5% + 5px);
  left: 90%;
  width: 88px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.slider1 {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#chk1:checked~.switch1 {
  background-color: blueviolet;
}

#chk1:checked~.switch1 .slider1 {
  transform: translateX(40px);
}

/*Botao A*/
#chk2 {
  position: absolute;
  left: 5px;
  display: none;
}

.switch2 {
  position: relative;
  background-color: #777;
  top: calc(5% + 5px);
  left: 90%;
  width: 88px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.slider2 {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#chk2:checked~.switch2 {
  background-color: blueviolet;
}

#chk2:checked~.switch2 .slider2 {
  transform: translateX(40px);
}

/*Pagina Utilziador menu lateral*/
.botao-definicoesl {
  position: fixed;
  bottom: 0;
  left: 170px;
  width: 80px;
  height: 80px;
  border-radius: 70px;
  background-image: url('Img/Definições.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.botao-definicoes:hover {
  box-shadow: none;
}

.botao-ajudal {
  position: fixed;
  bottom: 0;
  left: 90px;
  width: 80px;
  height: 80px;
  border-radius: 70px;
  background-image: url('Img/Informações.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.botao-ajuda:hoverl {
  box-shadow: none;
}

/*Menu lateral*/
.menu-lateral {
  z-index: 2;
  position: fixed;
  top: 0;
  left: -250px;
  ;
  width: 250px;
  height: 100%;
  background: #0D5785;
  padding-top: 50px;
  transition: left 0.3s ease;
}

.botao-definicoesl,
.botao-ajudal {
  display: block;
}

.menu-lateral.aberto .botao-definicoesl,
.menu-lateral.aberto .botao-ajudal {
  display: none;
}

.menu-lateral a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
}

.fechar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

/*Menu de Apoio ao cliente */

/*Informação Comercial*/
.boxcomercial {
  position: relative;
  width: 1362px;
  height: 462px;
  flex-shrink: 0;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #f0f0f0;
  border: 3px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-proximoazul {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #163E64;
  cursor: pointer;
}

.botao-proximoazul:hover {
  background-color: #0D5785;
}

.botao-voltarbranco {
  position: absolute;
  bottom: 20px;
  right: 150px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  cursor: pointer;
}

.botao-voltarbranco:hover {
  background-color: #BFBFBF;
}

.botaoquadrado {
  position: absolute;
  top: 0;
  left: -10%;
  border-radius: 4px;
  background: #163E64;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

/*Botao 1*/
.botaoquadrado1 {
  position: absolute;
  top: 40px;
  left: -10%;
  border-radius: 4px;
  background: #163E64;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

/*Botao 2*/
.botaoquadrado2 {
  position: absolute;
  top: 85px;
  left: -10%;
  border-radius: 4px;
  background: #163E64;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

/*Botao 3*/
.botaoquadrado3 {
  position: absolute;
  top: 125px;
  left: -10%;
  border-radius: 4px;
  background: #163E64;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

/*Botao 4*/
.botaoquadrado4 {
  position: absolute;
  top: 165px;
  left: -10%;
  border-radius: 4px;
  background: #163E64;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

/*Botao 5*/
.botaoquadrado5 {
  position: absolute;
  top: 210px;
  left: -10%;
  border-radius: 4px;
  background: #163E64;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

/*Apoio ao Cliente  Menu */
/*Botao reclamacao*/
.botao-reclamacao {
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  width: 346px;
  height: 94px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-image: url('Img/Reclamação.png');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 20px center;
  cursor: pointer;
  padding-left: 90px;
}

.botao-reclamacao:hover {
  background-color: #163E64;
}

/*Botao Elogio*/
.botao-elogio {
  display: flex;
  position: absolute;
  top: 60%;
  left: 10%;
  width: 346px;
  height: 94px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-image: url('Img/Elogio.png');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 20px center;
  cursor: pointer;
  padding-left: 90px;
}

.botao-elogio:hover {
  background-color: #163E64;
}

/*Botao opiniao*/
.botao-opiniao {
  display: flex;
  position: absolute;
  top: 20%;
  right: 10%;
  width: 346px;
  height: 94px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-image: url(Img/curiosidade\ 1\ \(1\).png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 20px center;
  cursor: pointer;
  padding-left: 90px;
}

.botao-opiniao:hover {
  background-color: #163E64;
}

/* Botao Informação*/
.botao-informacoes {
  display: flex;
  position: absolute;
  top: 60%;
  right: 10%;
  width: 346px;
  height: 94px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-image: url(Img/em-formacao.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 20px center;
  cursor: pointer;
  padding-left: 90px;
}

.botao-informacoes:hover {
  background-color: #163E64;
}

/*Horários e Percursos */
.botao-circular {
  position: absolute;
  top: 45.5%;
  right: 12%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background-image: url(Img/lupa\ .png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #017CB7;
  overflow: hidden;
}

.botao-circular:hover {
  background-color: #163E64;
}

.botao-voltarh {
  position: absolute;
  top: 45.5%;
  left: 2%;
  width: 58px;
  height: 78px;
  flex-shrink: 0;
  border: none;
  background-image: url(Img/Voltar.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  overflow: hidden;
}

.botao-circular:hover {
  background-color: #163E64;
}

.botao-todasaslinhas {
  position: absolute;
  top: 65%;
  left: 10%;
  display: flex;
  width: 200px;
  height: 54px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  border-radius: 20px;
  position: absolute;
}

.botao-todasaslinhas:hover {
  background-color: #017CB7;
}

.botao-Favoritos {
  position: absolute;
  top: 65%;
  left: 40%;
  display: flex;
  width: 200px;
  height: 54px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  border-radius: 20px;
  position: absolute;
}

.botao-Favoritos:hover {
  background-color: #017CB7;
}

.botao-Tarifarios {
  position: absolute;
  top: 65%;
  left: 70%;
  display: flex;
  width: 200px;
  height: 54px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  border-radius: 20px;
  position: absolute;
}

.botao-Tarifarios:hover {
  background-color: #017CB7;
}

/*Menu Consultar pontos*/
.botao-customizadou {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 1360px;
  height: 152px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Img/Moedaspp.png);
  background-repeat: no-repeat;
  background-position: 5%;
  background-color: transparent;
  flex-shrink: 0;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: black;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.botao-customizadou:hover {
  background-color: #017CB7;
}

.botao-customizadop {
  position: absolute;
  top: 80%;
  left: 4%;
  width: 1360px;
  height: 152px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Img/Consulta.png);
  background-repeat: no-repeat;
  background-position: 5%;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: black;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;

}

.botao-customizadop:hover {
  background-color: #017CB7;
}

.botao-voltarc {
  position: absolute;
  bottom: -4%;
  left: 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  cursor: pointer;
  text-decoration: none;
}

.botao-voltarc:hover {
  background-color: #BFBFBF;
}

/*Consultar*/
.botao-voltarcon {
  position: absolute;
  bottom: -20%;
  left: 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  cursor: pointer;
}

.botao-voltarcon:hover {
  background-color: #BFBFBF;
}

/*Botao Ultimos pontos ganhos */
.botao-upg {
  position: absolute;
  top: 47%;
  left: 20%;
  display: flex;
  width: 200px;
  height: 54px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  border-radius: 20px;
  white-space: nowrap;
}

.botao-upg:hover {
  background-color: #017CB7;
}

/*Últimos Pontos Gastos*/
.botao-up {
  position: absolute;
  top: 47%;
  left: 50%;
  display: flex;
  width: 200px;
  height: 54px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  border-radius: 20px;
  white-space: nowrap;
}

.botao-up:hover {
  background-color: #017CB7;
}

/*Menu Premios e Promoções*/
.botao-customizadopromo {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 1360px;
  height: 152px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Img/Escolherpromo.png);
  background-repeat: no-repeat;
  background-position: 5%;
  background-color: transparent;
  flex-shrink: 0;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: black;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.botao-customizadopromo:hover {
  background-color: #017CB7;
}

.botao-customizadopremios {
  position: absolute;
  top: 80%;
  left: 4%;
  width: 1360px;
  height: 152px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Img/Escolherpremio.png);
  background-repeat: no-repeat;
  background-position: 5%;
  background-color: transparent;
  flex-shrink: 0;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: black;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.botao-customizadopremios:hover {
  background-color: #017CB7;
}

/*Esolher promo */
.botao-voltara {
  position: absolute;
  bottom: -30%;
  left: 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  cursor: pointer;
}

.botao-voltara:hover {
  background-color: #BFBFBF;
}

/*Menu Ativar pontos*/
.botao-distanciapercorrida {
  position: absolute;
  top: 105%;
  left: 4%;
  width: 1360px;
  height: 152px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Img/Distanciapercorrida.png);
  background-repeat: no-repeat;
  background-position: 5%;
  background-color: transparent;
  flex-shrink: 0;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: black;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.botao-customizadopremios:hover {
  background-color: #017CB7;
}

/*Codigo qr*/
.botao-codigoqr {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 1360px;
  height: 307px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex-shrink: 0;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: black;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.botao-codigoqr:hover {
  background-color: #017CB7;
}

/* Botao para admin */
.botao-voltarad {
  position: absolute;
  bottom: 13%;
  left: 35%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  cursor: pointer;
  text-decoration: none;
}

.botao-voltarad:hover {
  background-color: #BFBFBF;
}
/*Quando a box é maior  */
.botao-voltarab {
  position: absolute;
  bottom: 7%;
  left: 35%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  cursor: pointer;
  text-decoration: none;
  border: none; 
}

.botao-voltarab:hover {
  background-color: #BFBFBF;
}
/*Duas coisas juntas */
.botao-voltaradd {
  position: absolute;
  bottom: 5%;
  left: 0%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  cursor: pointer;
  text-decoration: none;
  border: none; 
}

.botao-voltaradd:hover {
  background-color: #BFBFBF;
}

.botao-voltaraddd {
  position: absolute;
  bottom: 11.5%;
  left: 25%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  cursor: pointer;
  text-decoration: none;
}

.botao-voltaraddd:hover {
  background-color: #BFBFBF;
}
/*Botao proximo mais largo */
.botao-proximo2 {
  position: relative;
  top: 50%;
  left: 30%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #0D5785;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 25px;
  width: 150px; 
  height: 50px; 
  min-width: 150px;
  border: none; 
}
.botao-proximo2::after {
  content: "";
  background-image: url(Img/Proximo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}
.botao-proximo2:hover {
  border-radius: 10px;
  background: white;
  color: #0D5785;
}
/*Area Cliente*/
/*Eliminar*/
.botao-proximo3 {
  position: relative;
  top: 20%;
  left:19%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #0D5785;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 25px;
  width: 150px; 
  height: 50px; 
  min-width: 150px;
  border: none; 
}
.botao-proximo3::after {
  content: "";
  background-image: url(Img/Proximo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}
.botao-proximo3:hover {
  border-radius: 10px;
  background: white;
  color: #0D5785;
}
/*Editar*/
.botao-proximo3v {
  position: relative;
  top: -10%;
  left: 30%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #0D5785;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 25px;
  width: 150px; 
  height: 50px; 
  min-width: 150px;
  border: none; 
}
.botao-proximo3v::after {
  content: "";
  background-image: url(Img/Proximo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}
.botao-proximo3v:hover {
  border-radius: 10px;
  background: white;
  color: #0D5785;
}
/*Area cliente para editar conta 1*/
.botao-proximoed1 {
  position: relative;
  top: 45%;
  left: 40%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #0D5785;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 25px;
  width: 150px; 
  height: 50px; 
  min-width: 150px;
  border: none; 
}
.botao-proximoed1::after {
  content: "";
  background-image: url(Img/Proximo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}
.botao-proximoed1:hover {
  border-radius: 10px;
  background: white;
  color: #0D5785;
}

.botao-proximoed1v {
  position: relative;
  top: 45%;
  left: 40%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color:#d9d9d9; 
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 25px;
  width: 150px; 
  height: 50px; 
  min-width: 150px;
  border: none; 
}
.botao-proximoed1v::after {
  content: "";
  background-image: url(Img/Proximo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}
.botao-proximoed1v:hover {
  border-radius: 10px;
  background: white;
  color: #0D5785;
}

/*Eliminar conta */
.botao-proximoed1ver {
  position: relative;
  top: 45%;
  left: 40%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: rgba(215, 7, 7, 0.53) ;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 25px;
  width: 150px; 
  height: 50px; 
  min-width: 150px;
  border: none; 
}
.botao-proximoed1ver::after {
  content: "";
  background-image: url(Img/Proximo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}
.botao-proximoed1ver:hover {
  border-radius: 10px;
  background: white;
  color: #0D5785;
}
/*Botao para verificar o codigo de desconto */
.botao-aceite {
  width: 25%;
  position: center;
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 0.17);
  height: 75px; 
  padding: 10px 25px;
  background-color:  #d9d9d9; 
  color:#017CB7 ;
  border: none;
  font-size: 16px; 
  cursor: pointer;

}
.botao-aceite:hover {
  background-color: #d9d9d9; 
}
/*Botao para caixa branca*/
.botao-proximoed2 {
  position: relative;
  top: 200%;
  left: 40%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #0D5785;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 25px;
  width: 150px; 
  height: 50px; 
  min-width: 150px;
  border: none; 
}
.botao-proximoed2::after {
  content: "";
  background-image: url(Img/Proximo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}
.botao-proximoed2:hover {
  border-radius: 10px;
  background: white;
  color: #0D5785;
}
.botao-proximoed2v {
  position: relative;
  top: 50%;
  left: 40%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color:#d9d9d9; 
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 25px;
  width: 150px; 
  height: 50px; 
  min-width: 150px;
  border: none; 
}
.botao-proximoed2v::after {
  content: "";
  background-image: url(Img/Proximo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}
.botao-proximoed2v:hover {
  border-radius: 10px;
  background: white;
  color: #0D5785;
}
/*Botao para terminar */
.botao-terminar {
  color: white;
  position: fixed;
  bottom: 0;
  left: 0; 
  width: 100px; 
  height: 60px; 
  border-radius: 50%; 
  background-position: center; 
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-weight: 500;
}
.botao-terminar:hover {
  box-shadow: none;
}
